@media (max-width:768px){
    .navegador-boostrap-index{
        display: block;
        img{
            width: 140px;
            height: 50px;
        }
    }
    }
@media (max-width:620px){
    .main-home{
        div{
            p{
                display: none;
            }
        }
    }
}